<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel= "tests"   name="Suite">
<listeners>

<listener class-name = "ecommerce.selenium.testcomponent.Listeners" />

</listeners>
 
    <test  name="Submit Order test">
  
    <classes>
      <class name="Ecomerce.SeleniumDesign.Submittest"/>
   
      </classes>
  </test> <!--Test  -->
  
    <test  name="Error validation  test">
 
   <classes>
  
       <class name="Ecomerce.SeleniumDesign.ErrorValidation"/>
      </classes>
  </test>  
</suite> <!-- Suite   <test thread-count="2" name="Submit Order test"> -->
